<ul class="breadcrumb">
  <li><%= link_to "首页", root_path %><span class="divider">/</span></li>
  <li><%= link_to "正能量", positive_energies_path %><span class="divider">/</span></li>
  <li class="active">新建正能量</li>
</ul>

<%= render 'form' %>
