<% pe = PositiveEnergy.get_luck %>

<div class="featurette container">
  <p class="lead">
    <%= pe.content %>
  </p>
  <p class="pull-right muted">——<%= pe.author_name%>分享</p>
  <a href="weekly_journals"><%= image_tag("why_always_me.jpg") %></a>
  <br />
  <p>点击上方图片，直接进入周反思列表</p>
</div>