<% content_for :title, "代码审查" %>
<ul class="breadcrumb">
  <li><%= link_to "首页", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "代码审查", code_reviews_path %><span class="divider">/</span></li>
  <li><%= link_to @code_review.title, @code_review %><span class="divider">/</span></li>
  <li class="active">编辑代码审查</li>
</ul>

<%= render 'form' %>